.header {
  display: flex;
  justify-content: space-between;
  height: 130px;
  align-items: center;
  // position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  background: #fff;
  &.border {
    border-bottom: 1px solid $primary-color;
  }
  .container {
    width: 100%;
  }
}

.logo {
  width: 150px;
}