
// body{
//     background: $backgroundColor;
// }
.userform-wrapper{
    margin: 50px 0;

}
.userform{
    background: #fff;
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 50px;
    box-shadow: $shadow-basic;

}

.form-header{
    .logo{
        text-align: center;
        img{
            width: 160px;
        }
    }
}

.form-body{
    padding: 20px 0 0 0;
    text-align: center;
    .link{
        font-size: 16px;
        color: rgba($color: #000000, $alpha: .4);
    }
}


.form-footer{
    .login-btn, .signup-btn{
        margin-bottom: 20px;
        font-size: 16px;
        padding: 8px !important;
    }
    .userform-msg{
        font-size: 16px;
        color: rgba($color: #000000, $alpha: .4);
        text-align: center;
        // margin-top: 20px;
        margin-bottom: 20px;
        a {
            font-weight: 600;
        }
    }
}

.social-login{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
   
}
.social-btn{
    display: flex;
    align-items: center;
    border: 1px solid rgba($color: #000000, $alpha: .1);;
    flex-basis: 45%;
    justify-content: center;
    text-align: center;
    img{
        height: 24px;
        margin-right: 20px;
    }
}

.userform-redirect{
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid rgba($color: #000000, $alpha: .1);;

    a{
        color: $link-color;
    }

}