<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${PRODUCT_DATA.getTitle()}"></title>
    <link rel="stylesheet" href="stylesheet/main.css" />
</head>

<body>
<header class="header">
    <div class="container flex-box">
        <div class="left">
            <a href="/"><img class="logo" src="asset/img/logo.png"/></a>
        </div>
        <div class="right">
            <p class="">Hi, ebay user!</p>
        </div>
    </div>
</header>
<section class="main-content section">
    <div class="container">
        <div class="product-detail flex-box">
            <div class="left col-5">
                <div class="prod-img"
                     style="background-image:
                    url('asset/img/prod-1.jpeg')">
                </div>
            </div>
            <div class="right col-5">
                <h1 class="prod-title">Macbook Pro 2016</h1>
                <p class="prod-desc">
                    Experience your favorite iPad apps now on your Mac. With Mac Catalyst, developers can easily create Mac apps from the iPad apps you already know and love. They run natively alongside your existing Mac apps so you can drag and drop content between them. They take full advantage of the larger screen and powerful architecture of your Mac. And because they are built from their iOS versions, they provide a seamless experience across your devices.
                </p>
                <p class="prod-price">Eur 3000,0</p>
                <a href="checkout.html" class="btn-primary">PURCHASE</a>
            </div>
        </div>
    </div>
</section>

</body>

</html>