<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>eBay</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" th:href="@{/stylesheet/main.css}" />
</head>
<body>
<header class="header">
    <div class="container flex-box">
        <div class="left">
            <a href="/"><img class="logo" th:src="@{/asset/logo.png}"/></a>
        </div>
        <div class="right">
            <a id="loginLink" href="/login" class="__hide">Login</a>
            <p id="loggedUser" class="__hide"></p>
        </div>
    </div>
</header>
<section class="main-content section">
    <div class="container">
        <h1>Ordered Successfully!</h1>
        <p>Thank you for shopping with us</p>
    </div>
</section>
</body>

</html>